<!-- create-client.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Novo Cliente</title>
</head>
<body>
<h1>Criar Novo Cliente</h1>
<form action="/clients/create" method="post">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="cpf">CPF:</label>
    <input type="cpf" id="cpf" name="cpf" required><br><br>
    <button type="submit">Salvar</button>
</form>
</body>
</html>
